<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="message-list">
  <ion-list>
      <ng-container *ngFor="let chatMessage of chatMessages$ | async" >
          <ng-container
              *ngIf="isMyMessage(chatMessage.author); else isForeignMessage"
          >
              <ion-item class="my-message ion-no-padding" lines="none">
                  <ion-label class="message-bubble" slot="end">
                      <p
                          class="my-message-text"
                          [style.max-width]="getMessageBubbleWidth(chatMessage.text)"
                      >
                          {{chatMessage.text}}
                      </p>
                      <div class="message-date">
                          {{ chatMessage.dateCreated.toDate() | date:
                          'dd.MM.yyyy HH:mm' }}
                      </div>
                  </ion-label>
              </ion-item>
          </ng-container>
          <ng-template #isForeignMessage>
              <ion-item lines="none" class="other-message ion-no-padding">
                  <ion-avatar slot="start">
                      <ion-img [src]="chatMessage.avatarImageUrl ? chatMessage.avatarImageUrl : 'https://www.w3schools.com/howto/img_avatar.png' "></ion-img>
                  </ion-avatar>
                  <ion-label class="message-bubble ion-text-wrap">
                      <h5 [style.color]="stringToColor(chatMessage.author)">
                          {{chatMessage.author}}
                      </h5>
                      <p
                          [style.max-width]="getMessageBubbleWidth(chatMessage.text)"
                      >
                          {{chatMessage.text}}
                      </p>
                      <div class="message-date">
                           {{chatMessage.dateCreated.toDate() | date: 'dd.MM.yyyy HH:mm'}}
                      </div>
                  </ion-label>
              </ion-item>
          </ng-template>
      </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <form (ngSubmit)="sendMessage()" (keyup.enter)="sendMessage()" [formGroup]="chatForm">
      <ion-toolbar>
          <ion-textarea
              type="text"
              name="message"
              class="chat-message-input"
              placeholder="Nachricht eingeben"
              formControlName="message"
          >
          </ion-textarea>
            <ion-spinner *ngIf="showSpinnerIcon" name="bubbles"></ion-spinner>
          
          <ion-button
          type="submit"
          >
          <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </form>
</ion-footer>

