<ion-header>
  <ion-toolbar>
    <ion-title>Rechner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Rechner-Container">
    <ion-label>Geben Sie die gewünschte Rechnung unten ein:</ion-label>
    <ion-input type="text" placeholder="Rechnung" [(ngModel)]="eingabe"></ion-input>

    <div class="Operands">
      <ion-button (click)="add('+')" fill="clear" shape="round">
        +
      </ion-button>
  
      <ion-button (click)="add('-')" fill="clear" shape="round">
        -
      </ion-button>
  
      <ion-button (click)="add('*')" fill="clear" shape="round">
        *
      </ion-button>
  
      <ion-button (click)="add('/')" fill="clear" shape="round">
        /
      </ion-button>

      <ion-button (click)="calc()" fill="clear" shape="round">
        =
      </ion-button>
    </div>

    <div class="numbers">
      <ion-button (click)="add(0)" fill="clear" shape="round">
        0
      </ion-button>
      <ion-button (click)="add(1)" fill="clear" shape="round">
        1
      </ion-button>
      <ion-button (click)="add(2)" fill="clear" shape="round">
        2
      </ion-button>
      <ion-button (click)="add(3)" fill="clear" shape="round">
        3
      </ion-button>
      <ion-button (click)="add(4)" fill="clear" shape="round">
        4
      </ion-button>
      <ion-button (click)="add(5)" fill="clear" shape="round">
        5
      </ion-button>
      <ion-button (click)="add(6)" fill="clear" shape="round">
        6
      </ion-button>
      <ion-button (click)="add(7)" fill="clear" shape="round">
        7
      </ion-button>
      <ion-button (click)="add(8)" fill="clear" shape="round">
        8
      </ion-button>
      <ion-button (click)="add(9)" fill="clear" shape="round">
        9
      </ion-button>
    </div>

    <ion-button (click)="reset()" expand="block" fill="clear" shape="round">
      Reset
    </ion-button>
  </div>
</ion-content>
